<html>
	<head>
		<title>Etude</title>

		<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Import materialize css framework and self-made styles -->
		<link rel="stylesheet" href="../styles/materialize/css/materialize.min.css">
		<link rel="stylesheet" href="../styles/style.css"/>

		<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>

		<nav>
			<div class="nav-wrapper">
				<div class = "container">
					<a href = "/"><img src="../dist/images/Etude_Logo_Yellow_V1.png" class="brand-logo"></a>
					<ul id="nav-mobile" class="right">
						<li><a href="#">My Bands</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class = "container">

		  <div class="row">

		  	<h2>Register or <a href="log-in">Log-In</a></h2>

		    <form class="col s12" method="POST" action="/user/register">

		    	<div class="row">
		        <div class="input-field col s12">
		          <input placeholder="Username" id="username" name="username" type="text" class="validate">
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		          <input placeholder="Password" id="password" name="password" type="password" class="validate">
		        </div>
		      </div>

		      <button type="submit" class="waves-effect waves-light btn">Register</button>
		    </form>
		  </div>

		</div>

		<script type="text/javascript" src = "../scripts/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src = "../scripts/lib/materialize.min.js"></script>
		<script type="text/javascript" src = "../scripts/form.js"></script>
	</body>
</html>
